- if @user.errors.any?
  .alert.alert-error

    %p
      I'm sorry I couldn't save it because...
      %ul
      - @user.errors.messages.each do |message|
        %li
          = message.first
          = message.last.last

.hero-unit
  %h1 
    Get One
    %small Snag your own booksmartlet.

  #ribbon

.row
  .span7
    .well
      %h2 Sign Up...
      = form_for @user, :html => {:class => 'form-horizontal'} do |user|
        .control-group
          .control-label= user.label :email
          .controls= user.text_field :email
        .control-group
          .control-label= user.label :password
          .controls= user.password_field :password
        .control-group
          .controls
            %input.btn.btn-primary.btn-large{:type => 'submit', :value => 'Create'}
            &nbsp;
            or
            &nbsp;
            %a{:href => new_login_path} Cancel

  .span5
    .well
      %h2 What is this?
      %p
        Booksmartlet is really simple. We just generate a bookmarklet with a token.
      %strong
        Here is all you need to do.
      %ul
        %li Supply an email and a password
        %li we will generate an API key for your booksmartlet
        %li Drag the link to your bookmark bar, and use

