.well
  %h1 Get a Booksmartlet

  - if @user.errors.any?
    - @user.errors.messages.each do |message|
      .message
        = message.first
        = message.last.last
  = form_for @user do |user|
    = user.label :email
    = user.text_field :email
    = user.label :password
    = user.password_field :password
    .action-bar
      = user.submit

