!!! HTML
%html
  %head
    %title Booksmartlet
    %meta{:name => 'keywords', :content => "bookmarks, cloud solution" }
    = stylesheet_link_tag :iframe
    = stylesheet_link_tag :markdownizer
    = javascript_include_tag :iframe
    = csrf_meta_tags
    = yield :head

  %body

    #main.container-fluid
      #top-bar.row-fluid

      #content.row-fluid
        = yield