!!! HTML
%html
  %head
    %title Booksmartlet
    %meta{:name => 'keywords', :content => "bookmarks, cloud solution" }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rufina'
    = stylesheet_link_tag :site
    = javascript_include_tag :site
    = csrf_meta_tags
    = yield :head

  %body
    .container#page-content
      - if flash[:error]
        .alert.alert-error= flash[:error]
      - if flash[:notice]
        .alert.alert-info= flash[:notice]

      = yield
