!!! HTML
%html
  %head
    %title Booksmartlet
    %meta{:name => 'keywords', :content => "bookmarks, cloud solution" }
    %link{:rel => "stylesheet", :href => "/stylesheets/site.css", :type => "text/css", :media => "screen"}
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rufina'
    = javascript_include_tag :site
    = csrf_meta_tags
    = yield :head

    - if Rails.env.development?
      :javascript
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');

  %body
    .container#page-content
      - if flash[:error]
        .alert.alert-error= flash[:error]
      - if flash[:notice]
        .alert.alert-info= flash[:notice]

      = yield
