!!! HTML
%html
  %head
    %title Booksmartlet
    %meta{:name => 'keywords', :content => "bookmarks, cloud solution" }
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag :site
    = javascript_include_tag :site
    = csrf_meta_tags
    = yield :head

  %body

    - if flash[:error]
      %p.error= flash[:error]
    - if flash[:notice]
      %p.notice= flash[:notice]

    = yield